In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("data/price_data.csv", usecols = ["date","ticker","close"])

In [5]:
df[df["ticker"] == "ACN"].sort_values(by="date", ascending=False)

               date ticker       close
1045141  2025-07-18    ACN  282.440002
1044645  2025-07-17    ACN  282.700012
1044149  2025-07-16    ACN  279.670013
1043653  2025-07-15    ACN  276.070007
1043157  2025-07-14    ACN  279.989990
...             ...    ...         ...
1889     2017-01-09    ACN  100.674614
1418     2017-01-06    ACN  101.812698
947      2017-01-05    ACN  100.665894
476      2017-01-04    ACN  102.197891
5        2017-01-03    ACN  101.952751

[2147 rows x 3 columns]